@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Nunito+Sans:wght@300;700&display=swap'); /*Fonte do google fonts*/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(89, 12, 160);
    color:white;
    font-size: 18px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding: 15px 15px;
    border-bottom: 2px solid #d36f41;
    background: linear-gradient(100deg, #110316, #211826, #3b0c4e);
}

.menu-item {
    color: #FFF2E7;
    font-weight: 400;
    font-size: 20px;
    margin: 0px 30px;
    padding: 20px;
    border-radius: 15px;
    transition: background 1.0s;
    transform: translateX(1px) scale(0.8);
}
.menu-item:hover, .menu-item:focus {
    background: #d36f41;
    color: rgb(23, 12, 72);
    border-radius: 25px;
    transform: translateX(1px) scale(1.1);
    box-shadow: 8px 2px 15px black;
}

.logoescola {
    width: 30%;
    margin: 40px 40px 40px;
}

.meio{
    justify-content: space-around;
    display:flex;
    margin: 40px 40px 40px;
}

.paragrafo-titulo {
    font-size: 25px;
}

.nome-colegio{
    font-size: 50px;
}
.topico{
    margin-top: 100px;
    font-size: 24px;
}

.estudantetitulo {
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    color: #FFF2E7;
    height: 50px;
    display: flex;
    padding: 40px;
    border-top: 2px solid #d36f41;
    border-bottom: 2px solid #d36f41;
    background: linear-gradient(210deg, #22082c, #211826, #22082c);
    align-items: center;
    justify-content: center;
}

.estudantes {
    display: flex; /* display flexível */
    flex-wrap: wrap; /* colocar itens em sequencia até não caber mais*/
    justify-content: center;
}

.item {
    margin-top: 30px; /* Espaço superior de 10 pixels */
    margin-bottom: 30px; /* Espaço inferior de 10 pixels */
    width: 300px;
    border-color:#d36f41
}

.item img{
    width: 200px;
    height: 200px;
}

.escola img {
	width:75%;
	margin-right: 100px;
 	margin-top: 50px; /* Espaço superior de 10 pixels */
    margin-bottom: 50px; /* Espaço inferior de 10 pixels */
}

.escola {
    background-color: rgb(35, 5, 63);
  	display: flex;
 	align-items: center; 
	justify-content: center;
    margin:50px 50px 50px;
    border-radius: 20px;
    box-shadow: 8px 2px 15px black;
}

.sobreescola{
	width:75%;
	margin-left: 100px;
}

.turma img {
	width:75%;
	margin-left: 100px;
 	margin-top: 50px; /* Espaço superior de 10 pixels */
    margin-bottom: 50px; /* Espaço inferior de 10 pixels */
}

.turma {
    background-color: rgb(35, 5, 63);
    border-radius: 20px;
  	display: flex;
 	align-items: center; 
	justify-content: center;
}

.turmatxt{
	width:550%;
	margin-right: 10px;
}
#sobre-turma {
    margin:50px 50px 50px;
    border-radius: 20px;
    box-shadow: 8px 2px 15px black;
}
img {
    border-radius: 10px;
}

.rodape{
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    color: #FFF2E7;
    height: 50px;
    display: flex;
    padding: 40px;
    border-top: 2px solid #d36f41;
    background: linear-gradient(210deg, #22082c, #211826, #22082c);
    align-items: center;
    justify-content: center;
}

.jogo {
    background-image: linear-gradient(blue,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}

.jogo img{
    width: 200px;
    height: 200px;
}