* {
    margin: 0px;
}

body {
    background-color: rgb(117, 70, 161);
    color:#d36f41;
    font-size: 18px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: background 1.0s;
    transform: translateX(1px) scale(0.8);
    margin-bottom: 10px;
}

img:hover, img:focus {
    background: #d36f41;
    border-radius: 25px;
    transform: translateX(1px) scale(1.0);
    box-shadow: 8px 2px 15px black;
}
.jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.titulo {
    justify-content: center;
    text-align: center;
    margin: 40px 20px 10px;
}
